.index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    flex-direction: column;
    font-size: larger;
    gap: 20px;
}

.indexCorreto{
    padding: 100px;
}

.indexMargin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.indexUl{
    padding: 20px;
}

.indexLi{
    padding: 20px;
    width: 222px;
    border-bottom: 1px solid black;
}

.indexBotao {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    font-size: large;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.486);
}
